.main-form {
    width: 99vw;
    z-index: 10;
    text-align: center;
    background-color: #F3F6FF;
    padding: 20px 0px;
    .loader {
        width: 99vw;
        height: 88vh;
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: #fff;
        overflow: hidden;
    }
    .filed {
        margin: 10px 0px;
    }

    .titles {
        text-align: left;
        padding: 0px 10px;
        margin: 0px;
    }

    .cards {
        margin: 20px;
        background-color: #fff;
        border-radius: 10px;
    }
}