.main_admin {
    margin-top: 30px;
    background: #F3F6FF;
    width: 99vw;
    height: 100vh;
    padding: 70px 40px;
    overflow: auto;

    .continue_submit_btn {
        margin-top: 20px;
        border-radius: 8px !important;
        line-height: 0px;
        font-size: 17px;
        font-weight: 600;
        background-color: #FF7620 !important;
        border: none;
        color: #fff;
        width: 100%;

        :hover {
            background-color: #FF7620 !important;
            color: #fff !important;
        }
    }
}