.main-login {
  contain: content;
  border-radius: 0px;
  height: 100vh;
  margin: auto;
}

.main-login .f-col {
  background-color: #F3F6FF;
  width: 100%;
}

.main-login .s-col {
  display: block;
}

@media only screen and (max-width: 768px) {
  .main-login .s-col {
    display: none;
  }
}

.main-login .circle-ripple {
  background-color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 40%;
  -webkit-animation: ripple 0.5s linear infinite;
          animation: ripple 0.5s linear infinite;
  right: 10px;
  position: absolute;
}

@-webkit-keyframes wait {
  0% {
    opacity: 0;
  }
}

@keyframes wait {
  0% {
    opacity: 0;
  }
}

@-webkit-keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 #88eae0, 0 0 0 1em #88eae0,
 0 0 0 3em #88eae0, 0 0 0 5em #88eae0;
            box-shadow: 0 0 0 0 #88eae0, 0 0 0 1em #88eae0,
 0 0 0 3em #88eae0, 0 0 0 5em #88eae0;
  }
  100% {
    -webkit-box-shadow: 0 0 0 1em #88eae0, 0 0 0 3em #88eae0, 0 0 0 5em #88eae0, 0 0 0 8em rgba(175, 166, 255, 0);
            box-shadow: 0 0 0 1em #88eae0, 0 0 0 3em #88eae0, 0 0 0 5em #88eae0, 0 0 0 8em rgba(175, 166, 255, 0);
  }
}

@keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 #88eae0, 0 0 0 1em #88eae0,
 0 0 0 3em #88eae0, 0 0 0 5em #88eae0;
            box-shadow: 0 0 0 0 #88eae0, 0 0 0 1em #88eae0,
 0 0 0 3em #88eae0, 0 0 0 5em #88eae0;
  }
  100% {
    -webkit-box-shadow: 0 0 0 1em #88eae0, 0 0 0 3em #88eae0, 0 0 0 5em #88eae0, 0 0 0 8em rgba(175, 166, 255, 0);
            box-shadow: 0 0 0 1em #88eae0, 0 0 0 3em #88eae0, 0 0 0 5em #88eae0, 0 0 0 8em rgba(175, 166, 255, 0);
  }
}

.main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1395%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1396)'%3e%3c/rect%3e%3cpath d='M490.35%2c311.359C516.22%2c311.599%2c544.115%2c304.76%2c556.588%2c282.094C568.76%2c259.975%2c558.45%2c233.653%2c544.795%2c212.418C532.459%2c193.235%2c513.144%2c179.845%2c490.35%2c179.087C466.124%2c178.281%2c442.17%2c188.067%2c429.248%2c208.574C415.464%2c230.45%2c412.995%2c258.658%2c426.208%2c280.884C439.172%2c302.692%2c464.98%2c311.124%2c490.35%2c311.359' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1355.83%2c242.818C1370.853%2c243.592%2c1388.332%2c243.338%2c1396.078%2c230.443C1403.953%2c217.333%2c1397.04%2c201.038%2c1388.579%2c188.299C1381.149%2c177.111%2c1369.258%2c169.634%2c1355.83%2c169.842C1342.747%2c170.045%2c1331.466%2c178.031%2c1324.795%2c189.288C1317.975%2c200.796%2c1315.464%2c215.065%2c1322.174%2c226.638C1328.866%2c238.18%2c1342.506%2c242.132%2c1355.83%2c242.818' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1045.6874523793883 314.7420077953997L979.4176660613161 208.68818051841657 873.3638387843331 274.95796683648877 939.6336251024053 381.01179411347186z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M696.7206832091573 11.862185221371984L651.7869797280468 96.37019054432098 781.2286885321063 56.795888702482415z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1305.831%2c402.404C1328.303%2c401.817%2c1344.059%2c383.237%2c1355.661%2c363.983C1367.788%2c343.858%2c1378.566%2c320.313%2c1367.92%2c299.366C1356.506%2c276.907%2c1331.024%2c266.088%2c1305.831%2c265.936C1280.349%2c265.782%2c1254.561%2c276.2%2c1242.43%2c298.609C1230.75%2c320.185%2c1238.49%2c345.772%2c1251.279%2c366.709C1263.42%2c386.585%2c1282.548%2c403.012%2c1305.831%2c402.404' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1364.044%2c444.262C1408.979%2c444.594%2c1444.476%2c411.295%2c1467.473%2c372.69C1491.151%2c332.942%2c1507.608%2c283.486%2c1483.247%2c244.153C1459.685%2c206.11%2c1408.753%2c203.795%2c1364.044%2c205.692C1323.537%2c207.41%2c1282.253%2c218.951%2c1261.16%2c253.575C1239.296%2c289.464%2c1243.27%2c334.199%2c1263.225%2c371.183C1284.349%2c410.334%2c1319.559%2c443.934%2c1364.044%2c444.262' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1395'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1396'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(160%2c 197%2c 246%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 8s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
 background-size:cover ;
  background-repeat: no-repeat;
  
}

.main .login-form {
  min-width: 400px;
  margin: auto;
  background: #fff;
  padding: 30px;
  -webkit-box-shadow: #f3f3f3 1px 1px;
          box-shadow: #f3f3f3 1px 1px;
  border-radius: 12px;
  position: relative;
  border: 1px solid #f0f0f0;
  text-align: center;
}

.main .login-form img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 36px;
  margin: auto;
}

.main .login-form .google-btn {
  width: 100%;
  margin: 12px 0px;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.25);
  color: #000;
  border: none;
  height: 40px;
}

.main .login-form .google-btn .google-icon {
  float: left;
  width: 18px;
  height: 18px;
  margin-top: 3px;
}

.main .login-form .google-btn span {
  font-size: 15px;
  font-weight: 500;
}

.main .login-form-forgot {
  margin-top: 10px;
  float: right;
  color: #5e5e5e;
  font-weight: 500;
  cursor: pointer;
  margin-top: -27px;
  text-decoration: underline;
}

.main .login-form-keep {
  float: left;
  color: #5e5e5e;
  font-weight: 500;
  margin-top: -27px;
  cursor: pointer;
}

.main .remember {
  color: #5e5e5e;
  font-weight: 500;
}

.main .login-form-button {
  border-radius: 2px;
  width: 100%;
  background-color: #313eda;
  border-color: #313eda;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
  height: 40px;
}

.main .login-form-button .loginIcon {
  margin-top: 4px;
  float: right;
}

.main ::-webkit-input-placeholder {
  color: #999;
  font-size: 14px;
  font-weight: 400;
}

.main :-ms-input-placeholder {
  color: #999;
  font-size: 14px;
  font-weight: 400;
}

.main ::-ms-input-placeholder {
  color: #999;
  font-size: 14px;
  font-weight: 400;
}

.main ::placeholder {
  color: #999;
  font-size: 14px;
  font-weight: 400;
}

.main .ant-form-item {
  margin-bottom: 20px;
}

.main .ant-form-item input {
  height: 30px;
}

.main .ant-form-item-explain-error {
  color: #db2269;
  font-size: 0.9em;
  border-color: #db2269;
}

.main .title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 18px;
  margin-bottom: 26px;
  margin-top: 10px;
}

.main .dis_title {
  margin: 0px 0px 12px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 13px;
  margin-bottom: 20px;
  margin-top: 0.1em !important;
}

.main .login-form-register {
  color: #5e5e5e;
  font-weight: 500;
}

.main .Input,
.main .ant-input-affix-wrapper:focus,
.main .ant-input-affix-wrapper-focused {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .main .login-form {
    width: 93% !important;
    min-width: 93% !important;
  }
}
/*# sourceMappingURL=styled.css.map */