.headermain {
    position: fixed;
    width: 100vw;
    z-index: 10;

    .ant-page-header {
        background-color: #300e6c !important;
        color: #fff !important;

        .ant-page-header-heading-extra {
            margin: 4px 0px 0px 0px;
        }
    }

    .ant-page-header-heading-left {
        width: 100%;

        .ant-page-header-heading-title {
            margin: auto;
            width: 100%;
            text-align: center;

            .Breadcrumb {
                display: flex;

                .center_of {
                    margin: auto;
                }

                span {
                    margin: 0px 20px;

                }

                .ant-breadcrumb-separator {
                    display: none;
                }
            }
        }
    }

    .Breadcrumb {
        font-size: 11px;

        .home {
            font-size: 16px;
            color: #fff !important;
            font-weight: bold;
            cursor: pointer;
            letter-spacing: 1px;
        }

        .active {
            border-bottom: 1px solid #FF7620;
        }
    }

    .icon {
        font-size: 18px;
        cursor: pointer;
        margin: auto 12px;
    }

    .avatar_icon {
        margin-top: -6px;
        margin-right: 8px;
        cursor: pointer;
    }
}

@media (max-width: 426px) {
    .headermain {
        width: 100vw;
    }
}