.request_main {
    margin-top: 68px;
    width: 99.6vw;
    padding: 30px;
    // background: #F3F6FF;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1505775561242-727b7fba20f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXwxMTQ1NTQ4fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;

    .m_title {
        font-size: 24px;
        color: #fff;
    }

    .cards {
        background: #fff;
        border-radius: 10px;
        padding: 10px;
        height: 80px;
        margin: 10px 0px;
        overflow: hidden;

        .dis {
            color: green;
        }

        .ant-avatar {
            margin-top: 8px;
        }

        .ant-list-item-meta-description {
            width: 90%;
            overflow: hidden;
            height: 24px;
        }
    }


}

.loader {
    width: 99vw;
    height: 88vh;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #fff;
    overflow: hidden;
}

@media (max-width: 426px) {
    .ant-btn-dangerous.ant-btn-primary {
        font-size: 10px;
        padding: 0px 6px;
    }

    .ant-btn-primary {
        font-size: 10px;
        padding: 0px 6px;
    }
}