.main-login {
    .ant-steps{
        display: none;
    }
    contain: content;
    // margin: 50px auto;
    // width: 80%;
    border-radius: 0px;
    height: 100vh;
    margin: auto;

    .f-col {
        background-color: #F3F6FF;
        width: 100%;
    }

    .s-col {
        display: block;
    }

    @media only screen and (max-width: 768px) {
        .s-col {
            display: none;
        }
    }

    .circle-ripple {
        background-color: transparent;
        width: 1px;
        height: 1px;
        border-radius: 40%;
        animation: ripple 0.5s linear infinite;
        right: 10px;
        position: absolute;
    }



    @keyframes wait {
        0% {
            opacity: 0;
        }
    }

    @-webkit-keyframes ripple {
        0% {
            box-shadow: 0 0 0 0 #88eae0, 0 0 0 1em #88eae0,
                0 0 0 3em #88eae0, 0 0 0 5em #88eae0;
        }

        100% {
            box-shadow: 0 0 0 1em #88eae0, 0 0 0 3em #88eae0,
                0 0 0 5em #88eae0, 0 0 0 8em rgba(175, 166, 255, 0);
        }
    }

    @keyframes ripple {
        0% {
            box-shadow: 0 0 0 0 #88eae0, 0 0 0 1em #88eae0,
                0 0 0 3em #88eae0, 0 0 0 5em #88eae0;
        }

        100% {
            box-shadow: 0 0 0 1em #88eae0, 0 0 0 3em #88eae0,
                0 0 0 5em #88eae0, 0 0 0 8em rgba(175, 166, 255, 0);
        }
    }
}

.main {
    // background: #f9f9f9;
    height: 100vh; 
    display: flex;
.ant-form-item{
    margin: 6px !important;
}
    .login-form {
        overflow: auto;
        height: auto;
        width: min-content;
        min-width: 400px;
        margin: auto;
        background: #fff;
        padding:6px 20px;
        box-shadow: rgb(243, 243, 243) 1px 1px;
        border-radius: 12px;
        position: relative;
        border: 1px solid #f0f0f0;
        text-align: center;
        img {
            object-fit: scale-down;
            width: 36px;
            margin: auto;
        }
        .google-btn {
            width: 100%;
            margin: 12px 0px;
            background-color: #fff;
            box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.25);
            color: #000;
            border: none;
            height: 40px;

            .google-icon {
                float: left;
                width: 18px;
                height: 18px;
                margin-top: 3px;
            }

            span {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }

    .avatar {
        // position: absolute;
        // z-index: 1;
        // top: -24px;
        // left: 43%;
        // border: 1px solid #f0f0f0;
    }

    .login-form-forgot {
        float: right;
        color: rgb(94, 94, 94);
        font-weight: 500;
        cursor: pointer;
        margin-top: -27px;
        text-decoration: underline;
    }

    .login-form-keep {
        float: left;
        color: rgb(94, 94, 94);
        font-weight: 500;
        margin-top: -27px;
        cursor: pointer;
    }

    .remember {
        color: rgb(94, 94, 94);
        font-weight: 500;
    }

    .login-form-button {
        border-radius: 2px;
        width: 100%;
        background-color: #313eda;
        border-color: #313eda;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 12px;
        height: 40px;

        // padding: 18px 0px;
        .loginIcon {
            margin-top: 4px;
            float: right;
        }
    }

    ::placeholder {
        color: #999;
        font-size: 14px;
        font-weight: 400;
    }

    .ant-form-item {
        margin-bottom: 20px;

        input {
            height: 30px;
        }
    }

    .ant-form-item-explain-error {
        color: #db2269;
        font-size: 0.9em;
        border-color: #db2269;
    }

    .title {
        color: rgba(0, 0, 0, 0.85);
        font-size: 18px;
        // margin-bottom: 26px;
        margin-top: 10px;
    }

    .dis_title {
        margin: 0px 0px 12px;
        color: rgba(0, 0, 0, 0.65);
        font-size: 13px;
        margin-bottom: 20px;
        margin-top: 0.1em !important;
    }

    .login-form-register {
        color: rgb(94, 94, 94);
        font-weight: 500;
    }

    .Input,
    .ant-input-affix-wrapper:focus,
    .ant-input-affix-wrapper-focused {
        outline: none !important;
        box-shadow: none !important;
        border-radius: 4px;
    }
}

@media only screen and (max-width: 768px) {
    .main .login-form {
        width: 97% !important;
        min-width: 93%;
    }
}

.ant-steps {
    padding: 20px;
}

.steps-action {
    margin-top: 24px;
}